.Error {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 920px;
}

.Error img {
  width: 100%;
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  .Error {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 300px;
  }

  .Error img {
    width: 100%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 719px) {
  .Error {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 350px;
  }

  .Error img {
    width: 100%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1080px) {
  .Error {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    height: 550px;
  }

  .Error img {
    width: 100%;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1399px) {
  .Error {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
  }

  .Error img {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .Error {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
  }

  .Error img {
    width: 100%;
  }
}
