<header class="navbar">
  <nav class="navbar-links">
    <a [routerLink]="['/home']"><img src="./assets/imgs/logo.svg" alt="logo" id="logo"></a>
    <a (click)="toggleMenu()" class="hamburger" id="menu"><img src="./assets/imgs/menu.png" alt="hamburger icon menu"></a>
    <ul>
      <li><a [routerLink]="['/features']">{{navbar.f}}</a></li>
      <li><a [routerLink]="['/']">{{navbar.p}}</a></li>
      <li><a [routerLink]="['/']">{{navbar.r}}</a></li>
    </ul>
  </nav>
  <div class="navbar-login">
    <button class="btn-login">{{navbar.l}}</button>
    <button class="btn-signUp">{{navbar.s}}</button>
  </div>
</header>

<nav class="navbar-mobile">
  <div class="navbar-mobile__container" *ngIf="isMenuOpened">
    <ul>
      <li><a [routerLink]="['/features']">{{navbar.f}}</a></li>
      <li><a [routerLink]="['/']">{{navbar.p}}</a></li>
      <li><a [routerLink]="['/']">{{navbar.r}}</a></li>
    </ul>
    <hr class="hr-mobile">
    <div class="navbar-login-mobile">
      <button class="btn-login-mobile">{{navbar.l}}</button>
      <button class="btn-signUp-mobile">{{navbar.s}}</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>




