<header class="navbar">
  <nav class="navbar-links">
    <a [routerLink]="['/home']"><img src="./assets/imgs/logo.svg" alt="logo" id="logo"></a>
    <ul>
      <li><a [routerLink]="['/features']">{{navbar.f}}</a></li>
      <li><a [routerLink]="['/']">{{navbar.p}}</a></li>
      <li><a [routerLink]="['/']">{{navbar.r}}</a></li>
    </ul>
  </nav>
  <div class="navbar-login">
    <button class="btn-login">{{navbar.l}}</button>
    <button class="btn-signUp">{{navbar.s}}</button>
  </div>
</header>

<router-outlet></router-outlet>




