<section class="second-container">
  <form #formShorter="ngForm" class="short-form" (ngSubmit)="shortLink(formShorter)">
    <div class="inputs-short-container">
      <input
        id="url-link"
        class="link-area"
        type="text"
        name="link"
        #link="ngModel"
        [(ngModel)]="shorterLink.link"
        [ngClass]="{'error': link.touched && !link.valid}"
        placeholder="Shorten a link here..."
        required
      >
      <input
        #submitLink
        type="submit"
        value="Shorten It!"
        id="submit-short-link"
        [disabled]="!formShorter.form.valid"
        (click)="validate()"
      >
    </div>
    <span class="required-link" *ngIf="link.touched && !link.valid">Please add a link</span>
  </form>

  <div class="dropdown-link-box" >
    <div class="second-containers-links" *ngIf="btn === true">
      <p class="second-text-links">{{link_saved.original_link}}</p>
      <hr class="hr-short-links">
      <div class="shortened-link-box">
        <p class="second-links-copy">{{link_saved.short_link}}</p>
        <button #btnCopy class="second-btn" [cdkCopyToClipboard]="link_saved.short_link" (click)="changeColor()">{{sBtn}}</button>
      </div>
    </div>
    <div class="second-containers-links" *ngIf="btn === true">
      <p class="second-text-links">{{link_saved.original_link}}</p>
      <hr class="hr-short-links">
      <div class="shortened-link-box">
        <p class="second-links-copy">{{link_saved.full_short_link}}</p>
        <button #btnCopyFull class="second-btn" [cdkCopyToClipboard]="link_saved.short_link" (click)="changeColor2()">{{sBtn2}}</button>
      </div>
    </div>
  </div>

</section>

