<div class="container">
  <section class="major-container">
    <div class="major-container__text">
      <h1 class="h11">More than just</h1>
      <h1 class="h12">shorter links</h1>
      <p class="major-p">Build your brand's recognition and get detailed insight on how your links are performing.</p>
      <button class="major-btn">Get Started</button>
    </div>
    <img class="woking-img" src="./assets/imgs/illustration-working.svg" alt="illustration of person working">
  </section>

  <app-shorter></app-shorter>
  <app-statistics></app-statistics>
  <app-footer></app-footer>
</div>

