<section class="main-container-statistics">

  <div class="main-container-statistics__text">
    <h2 class="statistics-title">Advanced Statistics</h2>
    <p class="statisctic-paragraph">Track how your links are performing across the web with our advanced statistics dashboard.</p>
  </div>

  <div class="main-container-statisctic__boxes">
    <div class="cyan-box"></div>
    <div class="statistic-box">
      <div class="icon-box">
        <img src="./assets/imgs/icon-brand-recognition.svg" alt="brand recognition icon">
      </div>
      <h3>Brand Recognition</h3>
      <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
    </div>
    <div class="statistic-box box2">
      <div class="icon-box">
        <img src="./assets/imgs/icon-detailed-records.svg" alt="detailed records icon">
      </div>
      <h3>Detailed Records</h3>
      <p>Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
    </div>
    <div class="statistic-box box3">
      <div class="icon-box">
        <img src="./assets/imgs/icon-fully-customizable.svg" alt="customizables fully icon">
      </div>
      <h3>Fully Customizable</h3>
      <p>Improve brand awareness and content discoverabily through customizable links, supercharging audience engagement.</p>
    </div>
  </div>

</section>

<section class="footer-container-statistics">
  <h2 class="footer-statistics-title">Boost your links today</h2>
  <button class="footer-statistics-btn">Get Started</button>
</section>


